html {
  background: black
    url("https://github.com/DogukanUrker/BurhaniyeAPP/blob/main/app/static/images/bg.gif?raw=true")
    no-repeat center;
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: fixed;
  -webkit-animation: spin 5s linear infinite;
  animation: spin 5s linear infinite;
}
