{% extends 'layout.html'%} {%block head%}
<title>🐪 DEVE GÜREŞLERİ 🐫</title>
{% endblock head %} {%block body%}
<div class="w-fit mx-auto font-semibold text-center">
  <h1 class="font-bold text-3xl text-center mb-4">
    🐪 DEVE GÜREŞLERİ 🐫
  </h1>
  <div class="my-2">
    <img
      class="w-96 mx-auto rounded"
      src="https://github.com/DogukanUrker/BurhaniyeAPP/blob/main/app/db/deve%20g%C3%BCre%C6%92leri/509d3d1e70b3d75c0aa2c611a07e7a03.jpg?raw=true"
    />
  </div>
  <div class="m-4 mx-auto w-fit">
    <audio controls>
      <source
        src="https://github.com/DogukanUrker/BurhaniyeAPP/raw/main/app/db/deve%20g%C3%BCre%C6%92leri/deve%20g%C3%BCre%C6%92leri.mp3"
        type="audio/mp3"
      />
    </audio>
  </div>
  <div class="my-2">
    <img
      class="w-96 mx-auto rounded"
      src="https://github.com/DogukanUrker/BurhaniyeAPP/raw/main/app/db/deve%20g%C3%BCre%C6%92leri/10332311-1080xauto.webp"
    />
  </div>
  <div class="mt-3">
    <a href="/necdettosun" class="font-bold text-2xl text-center"
      >🚀 DEVAM ETMEK İÇİN TIKLA 🚀</a
    >
  </div>
</div>
{% endblock body %}
