{% extends 'layout.html'%} {%block head%}
<title>💃🏻 EL SANATLARI 🕺🏻</title>
{% endblock head %} {%block body%}
<div class="w-fit mx-auto font-semibold text-center">
  <h1 class="text-blue-200 font-bold text-4xl text-center mb-4">
    💃🏻 EL SANATLARI 🕺🏻
  </h1>
  <div class="my-2">
    <img
      class="w-96 mx-auto rounded"
      src="https://github.com/DogukanUrker/BurhaniyeAPP/blob/main/app/db/el%20sanatlar%C3%AC/65262.jpg?raw=true"
    />
  </div>
  <div class="m-4 mx-auto w-fit">
    <audio controls>
      <source
        src="https://github.com/DogukanUrker/BurhaniyeAPP/raw/main/app/db/el%20sanatlar%C3%AC/kilim%20dokumac%C3%ACl%C3%AC%C2%BA%C3%AC.mp3"
        type="audio/mp3"
      />
    </audio>
  </div>
  <div class="mt-3">
    <a href="/tebrikler4" class="text-blue-200 font-bold text-2xl text-center"
      >🚀 DEVAM ET 🚀</a
    >
  </div>
</div>
{% endblock body %}
