{% extends 'layout.html'%} {%block head%}
<title>ERDAL TOSUN</title>
{% endblock head %} {%block body%}
<div class="w-fit mx-auto font-semibold text-center">
  <h1 class="text-blue-200 font-bold text-3xl text-center mb-4">
    ERDAL TOSUN
  </h1>
  <div class="my-2">
    <img
      class="w-96 mx-auto rounded"
      src="https://github.com/DogukanUrker/BurhaniyeAPP/blob/main/app/db/oyuncular/erdaltosun/OIP.jpg?raw=true"
    />
  </div>
  <div class="my-2">
    <audio controls class="mx-auto">
      <source
        src="https://github.com/DogukanUrker/BurhaniyeAPP/raw/main/app/db/oyuncular/erdaltosun/erdal%20tosun.mp3"
        type="audio/mp3"
      />
    </audio>
  </div>
  <div class="my-2">
    <img
      class="w-96 mx-auto rounded"
      src="https://github.com/DogukanUrker/BurhaniyeAPP/blob/main/app/db/oyuncular/erdaltosun/R.jpg?raw=true"
    />
  </div>
  <div class="mt-3">
    <a href="/turkuler" class="text-blue-200 font-bold text-2xl text-center"
      >🚀 DEVAM ETMEK ICIN TIKLA 🚀</a
    >
  </div>
</div>
{% endblock body %}
