{% extends 'layout.html'%} {%block head%}
<title>Yemekler</title>
{% endblock head %} {%block body%}
<div class="w-fit mx-auto font-semibold text-center">
  <h1 class="text-blue-200 font-bold text-2xl text-center mb-2">
    {{foodName}}
  </h1>
  <img class="w-96 mx-auto rounded my-2" src="{{foodImage}}" />
  <audio controls class="mx-auto">
    <source src="{{foodSound}}" type="audio/mp3" />
  </audio>
  {% if id == 11 %}
  <a href="/yerler/3" class="text-blue-200 font-bold text-sm text-center mt-4"
    >3.Seviyeye Gec 🚀</a
  >
  {% else%}
  <a
    href="/yemekler/{{id + 1}}"
    class="text-blue-200 font-bold text-sm text-center mt-4"
    >Siradakine Gec 🚀</a
  >
  {% endif %}
</div>
{% endblock body %}
