{% extends 'layout.html'%} {%block head%}
<title>TEBRİKLER</title>
{% endblock head %} {%block body%}
<div class="flex flex-col text-white font-semibold mb-8">
  <h1 class="font-bold text-4xl text-center mb-2">
    ✨ SUPERSİNN ✨
  </h1>
  <img
    class="rounded m-2"
    src="https://media.tenor.com/PjB7rzP5pOwAAAAi/happy-kids.gif"
  />
  <a href="/elsanatlari" class="font-bold text-2xl text-center mt-4"
    >🚀 DURMADAN DEVAM ET 🚀</a
  >
</div>
<audio
  id="audioApplause"
  src="https://github.com/DogukanUrker/BurhaniyeAPP/raw/main/app/static/sounds/applause.mp3"
></audio>
<button onclick="callSound()" id="soundBtn" class="hidden"></button>
<script src="{{ url_for('static', filename='js/greet.js') }}"></script>
{% endblock body %}
