{% extends 'layout.html'%} {%block head%}
<title>TEBRİKLER</title>
{% endblock head %} {%block body%}
<div class="flex flex-col text-white font-semibold mb-8">
  <h1 class="text-blue-200 font-bold text-4xl text-center mb-2">
    🤩 COK İYİ GİDİYORSUN 🤩
  </h1>
  <img
    class="rounded m-2"
    src="https://media.tenor.com/HHPMFMlwwMIAAAAi/congratulations-congrats.gif"
  />
  <a
    href="/mekanlar/1"
    class="text-blue-200 font-bold text-2xl text-center mt-4"
    >🚀 DEVAMMMM 🚀</a
  >
</div>
{% endblock body %}
