{% extends 'layout.html'%} {%block head%}
<title>TEBRİKLER</title>
{% endblock head %} {%block body%}
<div class="flex flex-col text-white font-semibold mb-8">
  <h1 class="text-blue-200 font-bold text-4xl text-center mb-2">
    🤩 HARİKASIN 🤩
  </h1>
  <img
    class="rounded m-2"
    src="https://media.tenor.com/a1VADuLpJLQAAAAi/%E3%81%8A%E3%82%81%E3%81%A7%E3%81%A8%E3%81%86-%E3%81%8A%E7%A5%9D%E3%81%84.gif"
  />
  <a href="/yerler/3" class="text-blue-200 font-bold text-2xl text-center mt-4"
    >🚀 DEVAM ETMEK İÇİN TIKLA 🚀</a
  >
</div>
{% endblock body %}
