{% extends 'layout.html'%} {%block head%}
<title>TEBRIKLER</title>
{% endblock head %} {%block body%}
<div class="flex flex-col text-white font-semibold mb-8">
  <h1 class="text-blue-200 font-bold text-4xl text-center mb-2">
    ✨ HARIKAYDINN ✨
  </h1>
  <img
    class="rounded m-2"
    src="https://media.tenor.com/TUVAE2M_wz4AAAAi/chubby-tonton.gif"
  />
  <a href="/test" class="text-blue-200 font-bold text-2xl text-center mt-4"
    >BITIRDIN, SIMDI OGRENDIKLERINI TEST ETME ZAMANI</a
  >
</div>
{% endblock body %}
