{% extends 'layout.html'%} {%block head%}
<title>TEBRIKLER</title>
{% endblock head %} {%block body%}
<div class="flex flex-col text-white font-semibold mb-8">
  <h1 class="text-blue-200 font-bold text-2xl text-center mb-2">
    ✨ HARIKASINN ✨
  </h1>
  <img
    class="rounded m-2"
    src="https://media.tenor.com/bKcJpxp5SsIAAAAi/tontonfriends-tonton.gif"
  />
  <a
    href="/necdettosun"
    class="text-blue-200 font-bold text-2xl text-center mt-4"
    >🚀 DEVAM ETMEK ICIN TIKLA 🚀</a
  >
</div>
{% endblock body %}
