{% extends 'layout.html'%} {%block head%}
<title>TEBRİKLER</title>
{% endblock head %} {%block body%}
<div class="flex flex-col text-white font-semibold mb-8">
  <h1 class="font-bold text-4xl text-center mb-2">
    ✨ HARİKAYDINN ✨
  </h1>
  <img
    class="rounded m-2"
    src="https://media.tenor.com/TUVAE2M_wz4AAAAi/chubby-tonton.gif"
  />
  <a href="/" class="font-bold text-4xl text-center mt-4">BİTİRDİN!!</a>
</div>
<audio
  id="audioApplause"
  src="https://github.com/DogukanUrker/BurhaniyeAPP/raw/main/app/static/sounds/applause.mp3"
></audio>
<button onclick="callSound()" id="soundBtn" class="hidden"></button>
<script src="{{ url_for('static', filename='js/greet.js') }}"></script>
{% endblock body %}
