{% extends 'layout.html'%} {%block head%}
<title>Burhaniye'nin Tarihcesi</title>
{% endblock head %} {%block body%}
<div class="flex flex-col text-white font-semibold mb-8">
  <h1 class="text-blue-200 font-bold text-2xl text-center mb-2">
    Burhaniye'nin Tarihcesi
  </h1>
  <img
    class="rounded m-2"
    src="https://raw.githubusercontent.com/DogukanUrker/BurhaniyeAPP/main/app/db/About/history1.png"
  />
  <div class="m-4">
    <audio controls>
      <source
        src="https://raw.githubusercontent.com/DogukanUrker/BurhaniyeAPP/main/app/db/About/history.mp3"
        type="audio/mp3"
      />
      Your browser does not support the audio element.
    </audio>
  </div>
  <img
    class="rounded m-2"
    src="https://raw.githubusercontent.com/DogukanUrker/BurhaniyeAPP/main/app/db/About/history2.png"
  />
  <a
    href="/yemekler/2"
    class="text-blue-200 font-bold text-2xl text-center mt-4"
    >🚀 DEVAM ETMEK ICIN TIKLA 🚀</a
  >
</div>
{% endblock body %}
