{% extends 'layout.html'%} {%block head%}
<title>Index</title>
{% endblock head %} {%block body%}
<div class="flex flex-col text-blue-50 font-semibold mb-8">
  <h1 class="text-4xl text-center mb-4">Burhaniye</h1>
  <a
    href="/tarihce"
    class="py-4 px-16 m-2 bg-gradient-to-r from-cyan-500/75 to-blue-500/75 hover:scale-125 duration-150 rounded-lg text-2xl text-center"
    ><p class="text-base">1.Seviye</p>
    Hakkinda</a
  >
  <a
    href="/yemekler/2"
    class="py-4 px-16 m-2 bg-gradient-to-r from-cyan-500/75 to-blue-500/75 hover:scale-125 duration-150 rounded-lg text-2xl text-center"
    ><p class="text-base">2.Seviye</p>
    Yemekler</a
  >
  <a
    href="/yerler"
    class="py-4 px-16 m-2 bg-gradient-to-r from-cyan-500/75 to-blue-500/75 hover:scale-125 duration-150 rounded-lg text-2xl text-center"
    ><p class="text-base">3.Seviye</p>
    Onemli Yerler</a
  >
  <a
    href="/mekanlar"
    class="py-4 px-16 m-2 bg-gradient-to-r from-cyan-500/75 to-blue-500/75 hover:scale-125 duration-150 rounded-lg text-2xl text-center"
    ><p class="text-base">4.Seviye</p>
    Gezilecek Yerler</a
  >
</div>
{% endblock body %}
