{% extends 'layout.html'%} {%block head%}
<title>{{placeName}}</title>
{% endblock head %} {%block body%}
<div class="w-fit mx-auto font-semibold text-center">
  <h1 class="font-bold text-2xl text-center mb-2">
    {{placeName}}
  </h1>
  <div class="my-2">
    <img class="w-96 mx-auto rounded" src="{{placeImage}}" />
  </div>
  <div class="my-2 mx-auto w-fit">
    <audio controls>
      <source src="{{placeSound}}" type="audio/mp3" />
    </audio>
  </div>
  <div class="mt-3">
    {% if id == 3 %}
    <a href="/zeytin" class="font-bold text-2xl text-center"
      >🚀 DEVAM ETMEK İÇİN TIKLA 🚀</a
    >
    {% else%}
    <a href="/mekanlar/{{id + 1}}" class="font-bold text-2xl text-center"
      >🚀 DEVAM ETMEK İÇİN TIKLA 🚀</a
    >
    {% endif %}
  </div>
</div>
{% endblock body %}
