{% extends 'layout.html'%} {%block head%} <title>SORU</title>{% endblock head %}
{%block body%}
<div class="flex flex-col font-semibold mb-8">
  <h1 class="text-center text-2xl mb-4">
    ZENGİN KADININ OĞLU NEREDE ASKERLİK YAPMIŞTIR?
  </h1>
  <img
    class="w-96 mx-auto rounded my-2"
    src="https://mediaim.expedia.com/destination/1/8d5aa9d330faf0eaaff95cbf9e1c9622.jpg"
  />
  <button
    onclick="falseAnswer()"
    class="block m-2 text-2xl bg-neutral-100 rounded p-4 w-96 mx-auto transition focus:bg-red-300 duration-100 ease-in-out"
  >
    BİNGÖL-GENÇ
  </button>
  <button
    onclick="trueAnswer()"
    class="block m-2 text-2xl bg-neutral-100 rounded p-4 w-96 mx-auto transition focus:bg-green-300 duration-100 ease-in-out"
  >
    KARS-SARIKAMIŞ
  </button>
  <button
    onclick="falseAnswer()"
    class="block m-2 text-2xl bg-neutral-100 rounded p-4 w-96 mx-auto transition focus:bg-red-300 duration-100 ease-in-out"
  >
    VAN-MURADİYE
  </button>
  <button
    onclick="falseAnswer()"
    class="block m-2 text-2xl bg-neutral-100 rounded p-4 w-96 mx-auto transition focus:bg-red-300 duration-100 ease-in-out"
  >
    ELAZIĞ-KEBAN
  </button>
</div>
<script src="{{ url_for('static', filename='js/q11.js') }}"></script>
<audio
  id="audioCorrect"
  src="https://github.com/DogukanUrker/BurhaniyeAPP/raw/main/app/static/sounds/correct.mp3"
></audio>
<audio
  id="audioWrong"
  src="https://github.com/DogukanUrker/BurhaniyeAPP/raw/main/app/static/sounds/wrong.mp3"
></audio>
{% endblock body %}
