{% extends 'layout.html'%} {%block head%} {% endblock head %} {%block body%}
<div class="flex flex-col font-semibold mb-8">
  <h1 class="text-center text-2xl mb-4">
    BURHANİYE'DE HANGİSİNİN FESTİVALİ DUZENLENİR
  </h1>
  <img
    class="w-96 mx-auto rounded my-2"
    src="https://github.com/DogukanUrker/BurhaniyeAPP/blob/main/app/db/zeytin/zeytin-ormanlarinin-kalbinde-hasat-senligi-122314-20211116.jpg?raw=true"
  />
  <button
    onclick="falseAnswer()"
    class="block m-2 text-2xl bg-neutral-100 rounded p-4 w-96 mx-auto"
  >
    🥪 AYVALIK TOSTU 🥪
  </button>
  <button
    onclick="trueAnswer()"
    class="block m-2 text-2xl bg-neutral-100 rounded p-4 w-96 mx-auto"
  >
    🫒 ZEYTIN 🫒
  </button>
  <button
    onclick="falseAnswer()"
    class="block m-2 text-2xl bg-neutral-100 rounded p-4 w-96 mx-auto"
  >
    🐟 PAPALİNA BALIĞI 🐟
  </button>
  <button
    onclick="falseAnswer()"
    class="block m-2 text-2xl bg-neutral-100 rounded p-4 w-96 mx-auto"
  >
    🍕 PİZZA 🍕
  </button>
</div>
<script src="{{ url_for('static', filename='js/q8.js') }}"></script>
{% endblock body %}
