{% extends 'layout.html'%} {%block head%} <title>SORU</title>{% endblock head %}
{%block body%}
<div class="flex flex-col font-semibold mb-8">
  <h1 class="text-center text-2xl mb-4">
    ZENGİN KADIN ZEYTİN TOPLAMAYA GİDERKEN ZENGİNLİĞİNİ NASIL BELLİ EDERMİŞ?
  </h1>
  <img
    class="w-96 mx-auto rounded my-2"
    src="https://th.bing.com/th/id/R.14173b2b6edd134bb7590ed5924bce43?rik=Ola9j%2b3NJBnDnQ&pid=ImgRaw&r=0"
  />
  <button
    onclick="falseAnswer()"
    class="block m-2 text-2xl bg-neutral-100 rounded p-4 w-96 mx-auto transition focus:bg-red-300 duration-100 ease-in-out"
  >
    ARABAYLA GİDEREK
  </button>
  <button
    onclick="falseAnswer()"
    class="block m-2 text-2xl bg-neutral-100 rounded p-4 w-96 mx-auto transition focus:bg-red-300 duration-100 ease-in-out"
  >
    GÖSTERİŞLİ TAKILAR TAKARAK
  </button>
  <button
    onclick="falseAnswer()"
    class="block m-2 text-2xl bg-neutral-100 rounded p-4 w-96 mx-auto transition focus:bg-red-300 duration-100 ease-in-out"
  >
    GÖSTERİŞLİ KIYAFETLER GİYEREK
  </button>
  <button
    onclick="trueAnswer('/tebrikler5')"
    class="block m-2 text-2xl bg-neutral-100 rounded p-4 w-96 mx-auto transition focus:bg-green-300 duration-100 ease-in-out"
  >
    GÜZEL VE PARLAK AYAKKABILAR GİYEREK
  </button>
</div>
<script src="{{ url_for('static', filename='js/question.js') }}"></script>
<audio
  id="audioCorrect"
  src="https://github.com/DogukanUrker/BurhaniyeAPP/raw/main/app/static/sounds/correct.mp3"
></audio>
<audio
  id="audioWrong"
  src="https://github.com/DogukanUrker/BurhaniyeAPP/raw/main/app/static/sounds/wrong.mp3"
></audio>
{% endblock body %}
