{% extends 'layout.html'%} {%block head%} {% endblock head %} {%block body%}
<div class="flex flex-col font-semibold mb-8">
  <h1 class="text-center text-2xl mb-4">
    AŞAĞIDAKİ GÖRSEL NEREYE AİTTİR?
  </h1>
  <img
    class="w-96 mx-auto rounded my-2"
    src="https://raw.githubusercontent.com/DogukanUrker/BurhaniyeAPP/main/app/db/Places/antandrusAncientCity/antandrusAncientCity1.jpg"
  />

  <button
    onclick="falseAnswer()"
    class="block m-2 text-2xl bg-neutral-100 rounded p-4 w-96 mx-auto transition focus:bg-red-300 duration-100 ease-in-out"
  >
    SEVİM-NECDET KENT KİTAPLIĞI
  </button>
  <button
    onclick="trueAnswer('/tekrar8')"
    class="block m-2 text-2xl bg-neutral-100 rounded p-4 w-96 mx-auto transition focus:bg-green-300 duration-100 ease-in-out"
  >
    ANTRANDROS ANTİK KENTİ
  </button>
  <button
    onclick="falseAnswer()"
    class="block m-2 text-2xl bg-neutral-100 rounded p-4 w-96 mx-auto transition focus:bg-red-300 duration-100 ease-in-out"
  >
    ADRAMYTTİUM ANTİK KENTİ
  </button>
  <button
    onclick="falseAnswer()"
    class="block m-2 text-2xl bg-neutral-100 rounded p-4 w-96 mx-auto transition focus:bg-red-300 duration-100 ease-in-out"
  >
    HAREKETLİ MÜZE
  </button>
</div>
<script src="{{ url_for('static', filename='js/question.js') }}"></script>
<audio
  id="audioCorrect"
  src="https://github.com/DogukanUrker/BurhaniyeAPP/raw/main/app/static/sounds/correct.mp3"
></audio>
<audio
  id="audioWrong"
  src="https://github.com/DogukanUrker/BurhaniyeAPP/raw/main/app/static/sounds/wrong.mp3"
></audio>
{% endblock body %}
