{% extends 'layout.html'%} {%block head%}
<title>TURKULER</title>
{% endblock head %} {%block body%}
<div class="w-fit mx-auto font-semibold text-center">
  <h1 class="text-blue-200 font-bold text-3xl text-center mb-4">
    🎵 TURKULER 🎶
  </h1>
  <div class="my-2">
    <audio controls class="mx-auto">
      <source
        src="https://github.com/DogukanUrker/BurhaniyeAPP/raw/main/app/db/t%C3%BCrk%C3%BCler/ayva%20%C3%A7i%C3%A7ek.mp3"
        type="audio/mp3"
      />
    </audio>
  </div>
  <div class="my-2">
    <audio controls class="mx-auto">
      <source
        src="https://github.com/DogukanUrker/BurhaniyeAPP/raw/main/app/db/t%C3%BCrk%C3%BCler/iki%20keklik.mp3"
        type="audio/mp3"
      />
    </audio>
  </div>
  <div class="mt-3">
    <a href="/tebrikler5" class="text-blue-200 font-bold text-2xl text-center"
      >🚀 DEVAM ETMEK ICIN TIKLA 🚀</a
    >
  </div>
</div>
{% endblock body %}
